
* {
    scroll-behavior: smooth;
}
body{
    background: black;
}
body > h1:first-of-type {
    position: fixed;
    padding: 16px;
    top: 0px;
    left: 5px;
    margin: 0;
    background: black;
    z-index: 3;
}

body > h1:first-of-type > a > i {
    color: grey;
}

header {
    position: fixed;
    right: 35%;
    top: 0;
    margin: auto;
    z-index: 3;
    background: black;
}

header > nav > ul > li {
    display: inline-block;
    padding: 12px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}
main {
    position: relative;
    top: 50px;
    z-index: 1;
}

main > section {
    filter: saturate(1.4);
    position: absolute;
}
main>section:nth-child(1){
    filter: saturate(1.4);
    height: 720px;
    position: relative;
}
main>section:nth-child(1){
    background: url("../../assests/images/bg-img.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
main>section:nth-child(1)>aside{
    padding-top: 27vh;
    padding-left: 16vw;
}
/*main>section:nth-child(1)>aside>img{*/
/*    width: 22vw;*/
/*    height: 44vh;*/
/*    border-radius: 100%;*/
/*}*/
body > section {
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    background: black;
    top: 0;
    z-index: 2;
}
main > section > div {
    height: 60px;
    background: black;
    position: sticky;
    top: 50px;
    border-spacing: 0px;

}

main > section > div > h1 {
    color: white;
}
body>main>section:nth-child(1)>section{
    margin-left: 40%;

}
body>main>section:nth-child(1)>section>h2{
    color: white;
    position: absolute;
    right: 19vw;
    top: 31vh;
    font-size: 1.6vw;
}
body>main>section:nth-child(1)>section>p:nth-child(2){
    color: white;
    position: absolute;
    right: 14vw;
    top: 37vh;
    font-size: 1.1vw;
}
body>main>section:nth-child(1)>section>p:nth-child(3){
    color: white;
    position: absolute;
    right: 8vw;
    top: 40vh;
    font-size: 1.1vw;
}
body>main>section:nth-child(1)>section>p:nth-child(4){
    color: white;
    position: absolute;
    right: 20vw;
    top: 43vh;
    font-size: 1.1vw;
}
body>main>section:nth-child(1)>section>p:nth-child(5){
    color: white;
    position: absolute;
    right: 19vw;
    top: 46vh;
    font-size: 1.1vw;
}
main>section:nth-child(2){
    height: 768px;
    position: relative;
}
main>section:nth-child(2)>div>h1{
    position: absolute;
    top: 10px;
    left: 45%;
    font-size: 2vw;

}
main>section:nth-child(2)>section{
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
main>section:nth-child(2)>section>div>img{
    width: 16vw;
    height: 45vh;
}
main>section:nth-child(2)>section>div>img:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
    transition: 2s;
    box-shadow:0 0 10px #00BEDE;
}
main>section:nth-child(2)>section>div>p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main>section:nth-child(3){
    position: relative;
}
main>section:nth-child(3)>div>h1{
    position: absolute;
    top: 10px;
    left: 35%;
    font-size: 2vw;

}
main>section:nth-child(3)>img{
    padding-top: 9vh;
    padding-left: 23vw;
    width: 57vw;
    height: 61vh;
}
main>section:nth-child(3)>img:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
    transition: 2s;
}
main>section:nth-child(3)>article>p{
    color: white;
    padding-top: 5vh;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 1vw;
}
main>section:nth-child(4){
    height: 768px;
    position: relative;
}
main>section:nth-child(4)>div>h1{
    position: absolute;
    top: 10px;
    left: 45%;
    font-size: 2vw;

}
main>section:nth-child(4)>section{
    padding-top: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main>section:nth-child(4)>section>img:hover{
    transform: scale(1.15, 1.15);
    cursor: pointer;
    transition: 2s;
}
span{
    color: #00BEDE;
}

main>section:nth-child(5){
    height: 760px;
    position: relative;
}
main>section:nth-child(5)>div>h1{
    position: absolute;
    top: 10px;
    left: 45%;
    font-size: 2vw;

}
main>section:nth-child(5)>section{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
main>section:nth-child(5)>section>div{
    width: 23vw;
    height: 32vh;
    border-radius: 30px;
    border: 5px solid white;
    justify-content: center;
    align-items: center;
}
main>section:nth-child(5)>section>div:first-child>h2{
    color: white;
    padding-left: 25%;
    padding-top: 0;
    display: none;
}
main>section:nth-child(5)>section>div:first-child:hover>h2{
    display: block;
}
main>section:nth-child(5)>section>div:first-child>a>i{
    padding-left: 25%;
    padding-top: 11%;
    font-size: 10vw;
    color: white;
}
main>section:nth-child(5)>section>div:first-child:hover{
    background-color: rgba(128, 128, 128, 0.38);
    transition: 2s;
    cursor: pointer;
}
main>section:nth-child(5)>section>div:first-child>a>i:hover{
    color: #00BEDE;
    cursor: pointer;
    transform: scale(1.05, 1.05);
    transition: 2s;
}
main>section:nth-child(5)>section>div:last-child>h2{
    color: white;
    padding-left: 25%;
    padding-top: 0;
    display: none;
}
main>section:nth-child(5)>section>div:last-child:hover>h2{
    display: block;

}
main>section:nth-child(5)>section>div:last-child>a>i{
    padding-left: 25%;
    padding-top: 11%;
    font-size: 10vw;
    color: white;
}
main>section:nth-child(5)>section>div:last-child:hover{
    background-color: rgba(128, 128, 128, 0.38);
    transition: 2s;
    cursor: pointer;
}
main>section:nth-child(5)>section>div:last-child>a>i:hover{
    color: #00BEDE;
    cursor: pointer;
    transform: scale(1.05, 1.05);
    transition: 2s;
}
main>section:nth-child(6){
    height: 768px;
    position: relative;
}
main>section:nth-child(6)>div>h1{
    position: absolute;
    top: 10px;
    left: 45%;
    font-size: 2vw;

}
main>section:nth-child(6)>img{
    padding-top: 10%;
    padding-left: 20%;
    width: 63vw;
    height: 61vh;
}
main>section:nth-child(7){
    height: 1000px;
    position: relative;
}
main>section:nth-child(7)>div:nth-child(2){
    position: absolute;
    width: 70%;
    height: 72%;
    background-color: #292929;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
main>section:nth-child(7)>div:nth-child(2)>h1{
    position: absolute;
    top: 10px;
    left: 40%;

}
main>section:nth-child(7)>div:nth-child(2)>img{
    position: absolute;
    top: 20%;
    left: 4%;
}
main>section:nth-child(7)>div:nth-child(2)>p{
    position: absolute;
    color: white;
    padding-left: 47%;
    padding-top: 20%;
    padding-right: 9%;
}
footer{
    position: absolute;
    width: 100%;
    height: 380px;
    background: #393939;
}
footer>h2{
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding-top: 40px;
    padding-left: 40%;
}
footer>section{
    position: relative;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer>section>a>img:hover{
    transform: scale(1.15, 1.15);
    transition: 2s;
}
footer>a>button{
    background-color: #393939;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 45%;
}
footer>a>button:hover{
    background-color: #00BEDE;
}
footer>div{
    padding-top: 40px;
    border-bottom: 2px solid white;
    width: 95%;
    margin: auto;
}
footer>small{
    color: white;
    position: relative;
    top: 20px;
    padding-left: 45%;
}
header > nav > ul > li > a:hover{
    color: #00BEDE;
}
body > h1:first-of-type > a > i:hover{
    color: #00BEDE;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #00BEDE;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: #3b4043;
}

@media all and (max-width: 320px) {
    header > nav > ul > li{
        font-size: 10px;
    }
    header{
        width: max-content;
        right: 0%;
    }
    main>section:nth-child(1)>aside>img{
        width: 57vw;
        height: 30vh;
        border-radius: 100%;
    }
    main>section:nth-child(1)>aside {
        padding-top: 7vh;
        padding-left: 19vw;
    }
    body>main>section:nth-child(1)>section>p:nth-child(5){
        right: 14vw;
        top: 69vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>p:nth-child(4){
        top: 65vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>p:nth-child(3){
        padding-left: 15%;
        right: 8vw;
        top: 59vh;
        font-size: 12px;
    }
    body>main>section:nth-child(1)>section>p:nth-child(2){
        top: 53vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>h2{
        padding-left: 27%;
        top: 42vh;
        font-size: 16px;
    }
    main>section:nth-child(1){
        height: 630px;
    }
    main>section:nth-child(2)>div>h1{
        left: 29%;
        font-size: 18px;
    }
    main>section:nth-child(2)>section{
        flex-direction: column;
    }
    main>section:nth-child(2)>section>div>img{
        width: 61vw;
    }
    main>section:nth-child(2){
        height: 1140px;
    }
    main>section:nth-child(2)>section>div>p{
        font-size: 12px;
    }
    main>section:nth-child(3)>div>h1{
        left: 3%;
        font-size: 18px;
    }
    main>section:nth-child(3)>img{
        padding-left: 19vw;
        width: 62vw;
        height: 23vh;
    }
    main>section:nth-child(3)>article>p{
        padding-left: 20vw;
        padding-right: 15vw;
        font-size: 12px;
    }
    main>section:nth-child(4)>div>h1{
        left: 34%;
        font-size: 18px;
    }
    main>section:nth-child(4)>section>img{
        width: 40px;
        height: 40px;
    }
    main>section:nth-child(4){
        height: 445px;
    }
    main>section:nth-child(5)>div>h1{
        left: 31%;
        font-size: 18px;
    }
    main>section:nth-child(5)>section>div>h2{
        font-size: 10px;
    }
    main>section:nth-child(5)>section>div {
        width: 22vw;
        height: 13vh;
    }
    main>section:nth-child(5)>section>img{
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
    main>section:nth-child(5)>section{
        padding-left: 5%;
        padding-right: 5%;
    }
    main>section:nth-child(5){
        height: 365px;
    }
    main>section:nth-child(6)>div>h1{
        left: 35%;
        font-size: 18px;
    }
    main>section:nth-child(6)>img{
        padding-left: 4%;
        padding-right: 4%;
        width: 86vw;
        height: 49vh;
    }
    main>section:nth-child(6){
        height: 410px;
    }
    main>section:nth-child(7)>div:nth-child(2)>h1{
        font-size: 18px;
        left: 29%;
    }
    main>section:nth-child(7)>div:nth-child(2){
        width: 78%;
        height: 82%;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        font-size: 12px;
        padding-left: 45%;
        padding-right: 5%;
    }
    main>section:nth-child(7)>div:nth-child(2)>img{
        width: 95px;
        height: 187px;
        top: 70px;
        left: 67px;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        top: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }
    footer>h2{
        padding-left: 25%;
        font-size: 20px;
    }
    footer>section>a>img{
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }
    footer>section{
        padding-left: 25%;
        padding-right: 25%;
    }
    footer>a>button{
        font-size: 12px;
        margin-left: 33%;
    }
    footer>small{
        padding-left: 30%;
    }
}

@media all and (min-width: 320px) and (max-width: 375px){
    header > nav > ul > li{
        font-size: 10px;
    }
    header{
        width: max-content;
        right: 0%;
    }
    main>section:nth-child(1)>aside>img{
        width: 57vw;
        height: 30vh;
        border-radius: 100%;
    }
    main>section:nth-child(1)>aside {
        padding-top: 7vh;
        padding-left: 19vw;
    }
    body>main>section:nth-child(1)>section>p:nth-child(5){
        right: 14vw;
        top: 69vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>p:nth-child(4){
        top: 65vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>p:nth-child(3){
        padding-left: 15%;
        right: 8vw;
        top: 59vh;
        font-size: 12px;
    }
    body>main>section:nth-child(1)>section>p:nth-child(2){
        top: 53vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>h2{
        padding-left: 27%;
        top: 42vh;
        font-size: 16px;
    }
    main>section:nth-child(1){
        height: 630px;
    }
    main>section:nth-child(2)>div>h1{
        left: 29%;
        font-size: 18px;
    }
    main>section:nth-child(2)>section{
        flex-direction: column;
    }
    main>section:nth-child(2)>section>div>img{
        width: 61vw;
    }
    main>section:nth-child(2){
        height: 1140px;
    }
    main>section:nth-child(2)>section>div>p{
        font-size: 12px;
    }
    main>section:nth-child(3)>div>h1{
        left: 3%;
        font-size: 18px;
    }
    main>section:nth-child(3)>img{
        padding-left: 19vw;
        width: 62vw;
        height: 23vh;
    }
    main>section:nth-child(3)>article>p{
        padding-left: 20vw;
        padding-right: 15vw;
        font-size: 12px;
    }
    main>section:nth-child(4)>div>h1{
        left: 34%;
        font-size: 18px;
    }
    main>section:nth-child(4)>section>img{
        width: 40px;
        height: 40px;
    }
    main>section:nth-child(4){
        height: 445px;
    }
    main>section:nth-child(5)>div>h1{
        left: 31%;
        font-size: 18px;
    }
    main>section:nth-child(5)>section>div>h2{
        font-size: 10px;
    }
    main>section:nth-child(5)>section>div {
        width: 22vw;
        height: 13vh;
    }
    main>section:nth-child(5)>section>img{
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
    main>section:nth-child(5)>section{
        padding-left: 5%;
        padding-right: 5%;
    }
    main>section:nth-child(5){
        height: 365px;
    }
    main>section:nth-child(6)>div>h1{
        left: 35%;
        font-size: 18px;
    }
    main>section:nth-child(6)>img{
        padding-left: 4%;
        padding-right: 4%;
        width: 86vw;
        height: 49vh;
    }
    main>section:nth-child(6){
        height: 410px;
    }
    main>section:nth-child(7)>div:nth-child(2)>h1{
        font-size: 18px;
        left: 29%;
    }
    main>section:nth-child(7)>div:nth-child(2){
        width: 78%;
        height: 82%;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        font-size: 12px;
        padding-left: 45%;
        padding-right: 5%;
    }
    main>section:nth-child(7)>div:nth-child(2)>img{
        width: 95px;
        height: 187px;
        top: 70px;
        left: 67px;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        top: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }
    footer>h2{
        padding-left: 25%;
        font-size: 20px;
    }
    footer>section>a>img{
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }
    footer>section{
        padding-left: 25%;
        padding-right: 25%;
    }
    footer>a>button{
        font-size: 12px;
        margin-left: 33%;
    }
    footer>small{
        padding-left: 30%;
    }
}

@media all and (min-width: 375px) and (max-width: 425px) {
    header > nav > ul > li{
        font-size: 10px;
    }
    header{
        width: max-content;
        right: 0%;
    }
    main>section:nth-child(1)>aside>img{
        width: 55vw;
        height: 33vh;
        border-radius: 100%;
    }
    main>section:nth-child(1)>aside {
        padding-top: 7vh;
        padding-left: 19vw;
    }
    body>main>section:nth-child(1)>section>p:nth-child(5){
        right: 14vw;
        top: 69vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>p:nth-child(4){
        top: 65vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>p:nth-child(3){
        padding-left: 15%;
        right: 8vw;
        top: 59vh;
        font-size: 12px;
    }
    body>main>section:nth-child(1)>section>p:nth-child(2){
        top: 53vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>h2{
        padding-left: 27%;
        top: 42vh;
        font-size: 16px;
    }
    main>section:nth-child(1){
        height: 630px;
    }
    main>section:nth-child(2)>div>h1{
        left: 29%;
        font-size: 18px;
    }
    main>section:nth-child(2)>section{
        flex-direction: column;
    }
    main>section:nth-child(2)>section>div>img{
        width: 53vw;
    }
    main>section:nth-child(2){
        height: 1140px;
    }
    main>section:nth-child(2)>section>div>p{
        font-size: 12px;
    }
    main>section:nth-child(3)>div>h1{
        left: 10%;
        font-size: 18px;
    }
    main>section:nth-child(3)>img{
        padding-left: 19vw;
        width: 62vw;
        height: 23vh;
    }
    main>section:nth-child(3)>article>p{
        padding-left: 20vw;
        padding-right: 15vw;
        font-size: 12px;
    }
    main>section:nth-child(4)>div>h1{
        left: 34%;
        font-size: 18px;
    }
    main>section:nth-child(4)>section>img{
        width: 40px;
        height: 40px;
    }
    main>section:nth-child(4){
        height: 445px;
    }
    main>section:nth-child(5)>div>h1{
        left: 31%;
        font-size: 18px;
    }
    main>section:nth-child(5)>section>div>h2{
        font-size: 10px;
    }
    main>section:nth-child(5)>section>div {
        width: 22vw;
        height: 13vh;
    }
    main>section:nth-child(5)>section>img{
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
    main>section:nth-child(5)>section{
        padding-left: 5%;
        padding-right: 5%;
    }
    main>section:nth-child(5){
        height: 365px;
    }
    main>section:nth-child(6)>div>h1{
        left: 35%;
        font-size: 18px;
    }
    main>section:nth-child(6)>img{
        padding-left: 4%;
        padding-right: 4%;
        width: 86vw;
        height: 49vh;
    }
    main>section:nth-child(6){
        height: 440px;
    }
    main>section:nth-child(7)>div:nth-child(2)>h1{
        font-size: 18px;
        left: 29%;
    }
    main>section:nth-child(7)>div:nth-child(2){
        width: 78%;
        height: 82%;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        font-size: 12px;
        padding-left: 45%;
        padding-right: 5%;
    }
    main>section:nth-child(7)>div:nth-child(2)>img{
        width: 95px;
        height: 187px;
        top: 70px;
        left: 81px;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        top: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }
    footer>h2{
        padding-left: 18%;
        font-size: 20px;
    }
    footer>section>a>img{
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }
    footer>section{
        padding-left: 25%;
        padding-right: 25%;
    }
    footer>a>button{
        font-size: 12px;
        margin-left: 33%;
    }
    footer>small{
        padding-left: 30%;
    }
}

@media all and (min-width: 425px) and (max-width: 520px) {
    header > nav > ul > li{
        font-size: 13px;
    }
    header{
        width: max-content;
        right: 0%;
    }
    main>section:nth-child(1)>aside>img{
        width: 50vw;
        height: 34vh;
        border-radius: 100%;
    }
    main>section:nth-child(1)>aside {
        padding-top: 7vh;
        padding-left: 19vw;
    }
    body>main>section:nth-child(1)>section>p:nth-child(5){
        right: 14vw;
        top: 69vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>p:nth-child(4){
        top: 65vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>p:nth-child(3){
        padding-left: 15%;
        right: 8vw;
        top: 59vh;
        font-size: 12px;
    }
    body>main>section:nth-child(1)>section>p:nth-child(2){
        top: 53vh;
        font-size: 12px;
        padding-left: 15%;
    }
    body>main>section:nth-child(1)>section>h2{
        padding-left: 27%;
        top: 42vh;
        font-size: 16px;
    }
    main>section:nth-child(1){
        height: 630px;
    }
    main>section:nth-child(2)>div>h1{
        left: 29%;
        font-size: 18px;
    }
    main>section:nth-child(2)>section{
        flex-direction: column;
    }
    main>section:nth-child(2)>section>div>img{
        width: 45vw;
    }
    main>section:nth-child(2){
        height: 1140px;
    }
    main>section:nth-child(2)>section>div>p{
        font-size: 12px;
    }
    main>section:nth-child(3)>div>h1{
        left: 15%;
        font-size: 18px;
    }
    main>section:nth-child(3)>img{
        padding-left: 19vw;
        width: 62vw;
        height: 23vh;
    }
    main>section:nth-child(3)>article>p{
        padding-left: 20vw;
        padding-right: 15vw;
        font-size: 12px;
    }
    main>section:nth-child(4)>div>h1{
        left: 34%;
        font-size: 18px;
    }
    main>section:nth-child(4)>section>img{
        width: 40px;
        height: 40px;
    }
    main>section:nth-child(4){
        height: 445px;
    }
    main>section:nth-child(5)>div>h1{
        left: 31%;
        font-size: 18px;
    }
    main>section:nth-child(5)>section>div>h2{
        font-size: 10px;
    }
    main>section:nth-child(5)>section>div {
        width: 22vw;
        height: 13vh;
    }
    main>section:nth-child(5)>section>img{
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
    main>section:nth-child(5)>section{
        padding-left: 5%;
        padding-right: 5%;
    }
    main>section:nth-child(5){
        height: 365px;
    }
    main>section:nth-child(6)>div>h1{
        left: 35%;
        font-size: 18px;
    }
    main>section:nth-child(6)>img{
        padding-left: 4%;
        padding-right: 4%;
        width: 86vw;
        height: 49vh;
    }
    main>section:nth-child(6){
        height: 440px;
    }
    main>section:nth-child(7)>div:nth-child(2)>h1{
        font-size: 18px;
        left: 29%;
    }
    main>section:nth-child(7)>div:nth-child(2){
        width: 78%;
        height: 82%;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        font-size: 12px;
        padding-left: 45%;
        padding-right: 5%;
    }
    main>section:nth-child(7)>div:nth-child(2)>img{
         width: 100px;
         height: 203px;
         top: 70px;
         left: 92px;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        top: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }
    footer>h2{
        padding-left: 18%;
        font-size: 20px;
    }
    footer>section>a>img{
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }
    footer>section{
        padding-left: 25%;
        padding-right: 25%;
    }
    footer>a>button{
        font-size: 12px;
        margin-left: 33%;
    }
    footer>small{
        padding-left: 30%;
    }
}

@media all and (min-width: 520px) and (max-width: 768px) {
    header{
        right: 17%;
    }
    main>section:nth-child(1)>aside>img{
        width: 33vw;
        height: 42vh;
        border-radius: 100%;
    }
    main>section:nth-child(1)>div>h1{
        font-size: 19px;
    }
    main>section:nth-child(2)>div>h1{
        font-size: 19px;
    }
    main>section:nth-child(3)>div>h1{
        font-size: 19px;
    }
    main>section:nth-child(4)>div>h1{
        font-size: 19px;
    }
    /*main>section:nth-child(5)>div>h1{*/
    /*    font-size: 19px;*/
    /*}*/
    main>section:nth-child(5)>div>h1{
        font-size: 19px;
    }
    main>section:nth-child(6)>div>h1{
        font-size: 19px;
    }
    main>section:nth-child(7)>div>h1{
        font-size: 19px;
    }
    main>section:nth-child(1)>aside{
        padding-left: 9vw;
    }
    body>main>section:nth-child(1)>section>h2{
        font-size: 18px;
        right: 12vw;
    }
    body>main>section:nth-child(1)>section>p:nth-child(2){
        font-size: 12px;
        right: 4vw;
    }
    body>main>section:nth-child(1)>section>p:nth-child(3){
        font-size: 12px;
        right: 0vw;
    }
    body>main>section:nth-child(1)>section>p:nth-child(4){
        font-size: 12px;
        right: 17vw;
    }
    body>main>section:nth-child(1)>section>p:nth-child(5){
        font-size: 12px;
        right: 15vw;
    }
    main>section:nth-child(2)>section>div>img{
        width: 23vw;
    }
    main>section:nth-child(2)>section{
        padding-left: 8vw;
        padding-right: 8vw;
    }
    main>section:nth-child(3)>img{
        padding-left: 19vw;
        width: 64vw;
    }
    main>section:nth-child(3)>article>p{
        padding-left: 14vw;
        padding-right: 14vw;
        font-size: 14px;
    }
    main>section:nth-child(4)>section>img{
        width: 60px;
        height: 60px;
    }
    /*main>section:nth-child(5)>section>div>img{*/
    /*    width: 23vw;*/
    /*}*/
    main>section:nth-child(5)>section>img{
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
    main>section:nth-child(5)>section>div>h2{
        font-size: 20px;
    }
    main>section:nth-child(7)>div:nth-child(2)>p{
        font-size: 14px;
        padding-left: 44%;
        padding-right: 7%;
    }
    main>section:nth-child(7)>div:nth-child(2)>img{
        height: 529px;
        width: 151px;
    }
    footer>h2{
        padding-left: 33%;
    }
    footer>a>button{
        margin-left: 43%;
    }
}

